body {
	text-align: center;
	font-family: 'Pacifico', cursive;
}
#header {
	background-color: #ACECF7;
	width: 100%;
	margin: -20px -20px 0px;
}
#footer {
	background-color: #ACECF7;
	width: 100%;
	margin: 0px -20px;
	color: #FFABC1;
	font-family: 'Josefin Slab', serif;
}
div {
	display: inline-block;
	padding: 10px;
}
.student-box {
	position: relative;
	background-color: #FFABC1;
}
.student-content {
	position: absolute;
}
.student-box img {
	height: 12em;
}
.student-box:hover h1 {
	visibility: visible;
}
.student-box h1 {
	visibility: hidden;
}
h1 {
	font-size: 48px;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
    color: #FFABC1;
}
a {
	text-decoration: none;
	color: #FFABC1;
}
#header h3 {
	margin-top: -20px;
	font-family: 'Josefin Slab', serif;
	color: #FFABC1;
}
h2 {
	margin-bottom: -20px;
}